In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
movies_df = pd.read_csv('resources/movies.csv')
movies_df

,movie_id,movie_name,release_year,original_release_date,movie_length,genre,rating,movie_producer,movie_director,movie_actor
0,1,Wings,1927,8/12/27,144,"Drama,Romance,War",PG-13,Famous Players-Lasky,William Wellman,"Clara Bow, Charles 'Buddy' Rogers, Richard Arl..."
1,2,7th Heaven,1927,NaN,110,"Drama,Romance",None,Fox,,
2,3,The Racket,1928,NaN,84,"Crime,Drama,Film-Noir",None,The Caddo Company,,
3,4,The Broadway Melody,1929,2/1/29,100,"Drama,Musical,Romance",NR,Metro-Goldwyn-Mayer,Harry Beaumont,"Anita Page, Bessie Love, Charles King, Jed Pro..."
4,5,Alibi,1929,NaN,91,"Action,Crime,Romance",None,Feature Productions,,
...,...,...,...,...,...,...,...,...,...,...
566,567,Mank,2020,NaN,131,"Biography,Comedy,Drama",None,"Ceán Chaffin, Eric Roth, and Douglas Urbanski",,
567,568,Minari,2020,NaN,115,Drama,None,Christina Oh,,
568,569,Promising Young Woman,2020,NaN,113,"Crime,Drama,Thriller",None,"Ben Browning, Ashley Fox, Emerald Fennell, and...",,
569,570,Sound of Metal,2019,NaN,120,"Drama,Music",None,Bert Hamelinck and Sacha Ben Harroche,,
570,571,The Trial of the Chicago 7,2020,NaN,129,"Drama,History,Thriller",None,Marc Platt and Stuart M. Besser,,

In [5]:
oscar_details_df = pd.read_csv('resources/oscar_details.csv')
oscar_details_df

     movie_id  oscar_year    award
0           1        1927   Winner
1           2        1927  Nominee
2           3        1927  Nominee
3           4        1928   Winner
4           5        1928  Nominee
..        ...         ...      ...
566       567        2020  Nominee
567       568        2020  Nominee
568       569        2020  Nominee
569       570        2020  Nominee
570       571        2020  Nominee

[571 rows x 3 columns]

In [6]:
movie_ratings_df = pd.read_csv('resources/movie_ratings.csv')
movie_ratings_df

,movie_id,imdb_rating,imdb_votes,tomatometer_rating,tomatometer_count,audience_rating,audience_count
0,1,7.5,12221,93,46,78,3530
1,2,7.7,3439,0,0,0,0
2,3,6.7,1257,0,0,0,0
3,4,5.7,6890,33,24,21,1813
4,5,5.8,765,0,0,0,0
...,...,...,...,...,...,...,...
566,567,6.9,65380,0,0,0,0
567,568,7.5,57976,0,0,0,0
568,569,7.5,122269,0,0,0,0
569,570,7.8,102807,0,0,0,0
570,571,7.8,156283,0,0,0,0

In [ ]:
movie_revenue_df = pd.read_csv('resources/movie_revenue.csv')
movie_revenue_df